@import '../_base.scss';
@import '../_fonts.scss';
@import '../_reset.scss';
@import '../_mixins.scss';
@import '../_variables.scss';
@import '../animation';




.contacts{
    margin-top: 100px;
    width: 100%;
    height: 1000px;
    background-image: url('../../assets/images/templates/nail-debridement-tre.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contacts-background{
    width: 70%;
    float: right;
    height: 100%;
    background-image: url('../../assets/images/templates/foot-clinic-Worthing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}