@import '../_base.scss';
@import '../_fonts.scss';
@import '../_reset.scss';
@import '../_mixins.scss';
@import '../_variables.scss';
@import '../animation';


.gallery-section{
    width: 100%;
    height: 1500px;
}


.apper-content{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}



.apper-content__text{
    padding-top: 30px;
    @include titles(3.8rem,"legendec");
    background: linear-gradient(45deg,$color7slider,#604453,blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.apper-content__text--text2{
    padding-left: 20px;
}
.apper-content__text--text3{
    padding-left: 100px;
}


.img-rotate{
    transform: rotate(90deg);
    margin-top: 10px;
}


.down-content{
    width: 100%;
    height: 50%;
}
.grid{
    width: 100%;
    height: 100%;
}
.grid-item {
    float: left;
    width: 28%;
    height: 15%;
    margin: 30px;
    margin-bottom: 200px;
}
  
//.grid-item--width2 { padding: 10px; }
.imgmesonry{
    width: 100%;
    cursor: pointer;
}
