//tech staff
@import '../_base.scss';
@import '../_fonts.scss';
@import '../_reset.scss';
@import '../_mixins.scss';
@import '../_variables.scss';



.header{
    width: 100%;
    height: 100px;
    background-color:$color1;
    z-index: 30;
    position: fixed;
  
}


.logo{
    max-width:130px;
    cursor: pointer;
    margin-right:20px ;
}
.logo-img{
    width:100%;
   
}

.header-wrapper{
    padding: 20px 0px 20px;
    width: 100%;
    @extend %flex-derectionrow-and-center2-spasebetween;
    margin: auto;
}


.header__menu{
    width: 100%;
   @extend %flex-derectionrow-and-center2; 
}

.menu-item{
    @include titles(1.2rem,"OpenSans-Medium");
    position: relative;
}


.menu-item:hover:before{
    transform: scaleX(1);
    transition: transform 0.25s;
}
.menu-item::before{
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg,$color7slider,blueviolet,red);
    position: absolute;
    left: 0px; bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.25s;
}

.itemi{
    margin-right: 20px;
    cursor: pointer;
}


.wrapper-right__log-reg-wrapper{
    @extend %flex-derectionrow-and-center2-spasebetween;  
}

.wrapper-right__sign{
    @include titles(1.3rem,"OpenSans-Medium");
    margin-right:20px;
    cursor: pointer;
}
.wrapper-right__sign:hover{
    background-color: grey;
    opacity: .7;
}


.wrapper-right__language-options{
    margin: 0;
    padding: 0;
    list-style-type: none;
     
}
.menu-item .header__menu-link {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}
.menu-item .header__menu-link:hover{
    color: blueviolet;
    background: linear-gradient(45deg,$color7slider,blueviolet,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

#sign {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}
#sign a {
    
    background-color: #949494;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid $color7slider;
    display: block;
}


.header-hidden{
    display: none;
    transition: display 0.9s;
    transition: all 2s linear;
}


//бургер

.burger{
    width: 30px;
    height: 4px;
    background-color: grey;   
    position: relative;
    display: none;
    
    
   }


   .burger::before{
       content: '';
       position: absolute;
       width: 100%;
       height: 4px;
       top:-8px;
       background-color: grey;
       display: none;
   }   
   .burger::after{
       content: '';
       position: absolute;
       width: 100%;
       height: 4px;
       bottom: -8px;
       background-color: grey;
       display: none;
   }   



    .burgerwrapper{
    padding-top: 50px;
    padding-left: 30px;
    display: none;
    cursor: pointer;
    }  
   
